*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
main{
  width:80%;
  margin:auto;
}
.main{
  margin-top: 100px;
  background: #B3B252;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 1fr;
  color: #ffc;

}
/* css grid with 3 column and 4 rows */
.book-info{
  background: #9068be;
  display:grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 40px 1fr 1fr 1fr;
  grid-template-areas: "name name name"
                       "code code ."
                       "origindest origindest origindest"
                       "select time book";
 box-shadow:2px 2px 15px #9068be;
 border-radius: 10px;
 font-size:20px;

}

.user-fullname{
  grid-area: name;
  justify-self:left;
  padding-left: 20px;
  font-size: 26px;
  color: #F0E130;
  font-weight: bold;

}
.code{
  grid-area: code;
  display: flex;
  justify-content: space-around;

}
.code p{
  padding-left: 10px;
}
.code #code{
  font-size: 25px;
  color: #F0E130;
  font-weight: bold;
}

.origin-desti{
  grid-area: origindest;
  display: flex;
  flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
}
#origin, #destination{
  font-size: 25px;
  color: #F0E130;
  font-weight: bold;
}
.seats{
  grid-area:time;
  padding-bottom: 10px;
}
.seats select{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 25px;
  width:80px;
  color: #222;
  font-size: 13px;
}
.seats option{
  margin-top: 10px;
}
.time{
  grid-area: select;
  display: flex;
  justify-content: evenly;

}
.time p{
  padding-left:10px;
}
.book{
  grid-area:book;
}



.seats p{
  padding-left: 10px;
}
#time{
  padding-top: 20px;
}
























.book-button{

    background:#fb7064;
    background: linear-gradient(#fb7064, #e74438);
    border-radius:9px;
    box-shadow: 0 3px #ab140a;
    padding: 9px 20px;
    color: #ffffff;
    display: inline-block;
    font:normal normal 21px/1 "Overlock", cursive;
    text-align: center;
    text-shadow:1px 1px #ab140a;
    align-self: center;
    justify-self:center;
}
.back{
  justify-self:left;
  margin-left: 10px;
  box-shadow:1px 2px 5px #113;
}

@media only screen and (max-width:370px){
  main{
    width:100%;
    margin:auto;
  }

}
