* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  width:100%;
  grid-template-columns: 1fr;
  grid-template-rows: 38px 1fr;
}
header {
  background-color: rgb(246, 242, 242);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
}
header a {
  text-decoration: none;
}
.logo {
  margin-left:40px;
  font-family: 'Lobster', cursive;
  font-size: 27px;
  color:rgb(22, 22, 22);
  align-self: center;
}
.page-shortcut {
  z-index: 1;
  align-self: center;
}
#admin-pages {
  margin-right: 10px;
}
.button-drop {
  background: transparent;
  color:#112;
  padding: 6px;
  font-size: 16px;
  border:  2px solid #112;
}
.menu-drop {
  position: relative;
  display: inline-block;
}
.menu-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 6px 14px 1px rgba(0,0,0,0.3);
  z-index: 1;
}
.menu-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  border-bottom: 2px solid #112;
  display: block;
}
.menu-content :last-child {
  border: none;
}
.menu-drop:hover .menu-content {
  display: block;
  z-index: 1;
}
.menu-drop:hover .button-drop {
  border-radius: 8px
}
.menu-content a:hover {
  background-color: #ddd; font-size: 20px;
}
.menu a {
  font-family: 'Ubuntu', sans-serif;
  font-size: 17px;
  color:rgb(22, 22, 22);
  font-weight: 300;
}
.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#about-menu {
 margin-right: 40px;
}
#signin-menu {
  margin-right:15px;
}
main {
  background-image:url(../images/womanwall.png);
  height:95vh;
  /* background-attachment: fixed; */
  background-position: center;
  background-size: cover;
  display:grid;
  grid-template-rows:1fr 30px;
}
.wrapper{
  display: grid;
  align-items: center;
}
.centered {
  position: relative;
  margin-left:190px;
  width:450px;
  height: 500px;
  box-shadow: 0 0 10px 0 rgb(0, 0 ,0, .4);
  z-index:0;
  background: inherit;
  overflow: hidden;
  border-radius: 5px;
} 
.centered ::before {
  width:450px;
  height: 540px;
  z-index: -1;
  box-shadow: inset 0 0 2000px rgb(233,235,245,0.5);;
  content: "";
  position: absolute;
  top:0;
  right:0;
  left:0;
  bottom: 0;
  background: inherit;
  filter: blur(30px);
  margin:-20px;  
}
.words {
  color:#112;
  font-size: 38px;
  font-weight: 600;
  /* font-family: 'Luckiest Guy', cursive; */
  font-family: 'Neuton', serif;
  line-height: 40px;
  width:350px;
  /* margin-top: 70px; */
  margin-left: 60px;
  text-align: left;
}
.signup-home {
  margin-left: 62px;
  margin-top: 25px;
}
.signup-home input[type="email"], input[type="password"] {
  border: none;
  border: 1px solid #222;
  /* background: transparent; */
  background: rgba(0,0,0,0.7);
  outline: none;
  height: 35px;
  width:310px;
  color:#DAC7F0;
  font-size: 18px;
  border-radius: 5px;
  margin-bottom: 5px;
}
.signup-home input[type="password"] {
  margin-bottom: 13px;
}
.signup-home  input[type="text"] {
  margin-bottom: 5px;
  width:150px; 
  border: 1px solid #222;
  /* background: transparent; */
  background: rgba(0,0,0,0.7);
  outline: none;
  height: 30px;
  color:#DAC7F0;
  font-size: 18px;
  border-radius: 5px;
  margin-right:5px;
}
::placeholder { 
  color: #EFD0CD;
  opacity: 0.8; 
  padding-left: 12px;
}
.signup-home h3 {
    margin-bottom: 8px;
    font-family: 'Neuton', serif;
    font-size:21px;
    color:#112;
}
#button {
    text-decoration: none;
    /* width:100px; */
    color: #112;
    background: inherit;
    font-size: 22px;
    font-family: 'Neuton', serif;
    font-weight: 600;
    border: 2px solid #112;
    padding:5px 50px 8px 50px;
    border-radius:7px;
    text-align: center;
}
#button:hover {
  background: rgba(0,0,0,0.7);;
    color:#ffd;
    font-weight: 200;
}
.footer {
  font-family: 'Neuton', serif;
  display: flex;
  justify-content: center; 
}
.footer-links {
    display: flex;
    justify-content: space-around;
    margin-right: 100px; 
}
.footer-links a {
  text-decoration: none;
  color:#112;
  font-size: 20px;
  font-weight: 600;

}
#about {
    margin-left: 50px;
    margin-right:20px;
}
.icons {
  margin-right: 370px;
}
.facebook {
    margin-right:5px;
}
.footer img {
  width: 30px;
}
@media (min-width:450px) and (max-width:771px) {
  .logo {
    margin-left:10px;
    font-family: 'Lobster', cursive;
    font-size: 27px;
    color:rgb(22, 22, 22);
    align-self: center;
  }
  main {
      background: url(../images/jesse-bowser-F3FtTLqzl18-unsplash.jpg);
      background-position: center;
      background-size: cover;
      
    }
    .centered {
      margin-left:20px;
    }
    .footer {
      font-family: 'Neuton', serif;
      display: flex;
      justify-content: space-around;
      width:100%;
      font-size: 18px;
      background: #fff; 
    }
    .twitter {
        margin-right:10px;
    }
    .icons {
      margin-right: 20px;
    }
}
@media only screen and (max-width:449px) {
  .logo {
    margin-left:10px;
    font-family: 'Lobster', cursive;
    font-size: 27px;
    color:rgb(22, 22, 22);
    align-self: center;
  }  
  header{
    grid-template-columns:110px 1fr 100px;
  }
    main {
      background: url(../images/jesse-bowser-F3FtTLqzl18-unsplash.jpg);
      background-position: center;
      background-size: cover;
       height: 120vh;
       display: grid;
       grid-template-rows: 1fr 30px;
    }
    .wrapper{
      height:800px;
    }
    .centered{
      margin-left:8px;
    }
    .signup-home {
      margin-left: 62px;
      margin-top: 40px;
}
#admin-pages {
  margin-right: 0;
}
#about-menu {
  margin-right: 5px;
}
.centered {
  width:335px;
  height: 800px;
  box-shadow: 0 0 10px 0 rgb(0, 0 ,0, .4);
  z-index:1;
  background: inherit;
  overflow: hidden;
  border-radius: 5px;
} 
.centered ::before{
  content: "";
   width:335px;
   height: 580px;
   z-index: -1;
   box-shadow: inset 0 0 2000px rgb(233,235,245,0.5); 
   position: absolute;
   top:0;
   right:0;
   left:0;
   bottom: 0;
   background: inherit;
   filter: blur(30px);
   margin:-20px;
}
 #signin-menu {
   margin-right:7px;   
}
.words {
  color:#112;
  font-size: 38px;
  font-weight: 600;
  /* font-family: 'Luckiest Guy', cursive; */
  font-family: 'Neuton', serif;
  line-height: 40px;
  width:80%;
  margin-top: 20px;
  margin-left: 20px;
  text-align: left;
}
.signup-home {
  margin-left: 20px;
  margin-top: 25px;
}
.footer {
  font-family: 'Neuton', serif;
  display: flex;
  justify-content: space-around;
  width:100%;
  font-size: 18px;
  background: #fff;
}
.footer-links {
  display: flex;
  justify-content: space-around;
  margin-right: 20px;
  
}
.icons {
  margin-right: 20px;
}
}
@media (min-width:450px) and (max-width:481px) {
  header {
    background-color: rgb(246, 242, 242);
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    display: grid;
    grid-template-columns: 105px 1fr 120px;
    }
    .logo {
    margin-left:5px;
    font-family: 'Lobster', cursive;
    font-size: 27px;
    color:rgb(22, 22, 22);
    align-self: center;
  }
  #admin-pages {
    margin-right: 0;
  }
  #about-menu {
    margin-right: 10px;
  }
   #signin-menu {
     margin-right:5px;
  }
  main{
    height:130vh;
  }
  .centered {
    width:410px;
    height: 500px;
    box-shadow: 0 0 10px 0 rgb(0, 0 ,0, .4);
    z-index:1;
    background: inherit;
    overflow: hidden;
    border-radius: 5px;
  } 
  .centered ::before {
    content: "";
     width:410px;
     height: 500px;
     z-index: -1;
     box-shadow: inset 0 0 2000px rgb(233,235,245,0.5);
     position: absolute;
     top:0;
     right:0;
     left:0;
     bottom: 0;
     background: inherit;
     filter: blur(30px);
     margin:-20px;
  }
   .button-drop {
    background: transparent;
    color:#112;
    padding: 4px;
    font-size: 16px;
    border:  2px solid #112;
  }
  .words {
    color:#112;
    font-size: 38px;
    font-weight: 600;
    /* font-family: 'Luckiest Guy', cursive; */
    font-family: 'Neuton', serif;
    line-height: 40px;
    width:80%;
    margin-top: 20px;
    margin-left: 20px;
    text-align: left;
  }
  .signup-home {
    margin-left: 20px;
    margin-top: 25px;
  }
}