*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  text-decoration: none;
}


.wrapper{
  display: grid;
  grid-template-columns: : 2fr;
  grid-template-rows: 1fr 4fr 1fr;
  height: 130vh;
  grid-template-areas:"header"
                      "main"
                      "footer";
}
.header{
  background: #9068be;
  color:#fff;
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr;
  grid-template-areas: "logo"
                       "menu";
}
.header a{
  color:#ffd;
}
.menu{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 10px;
  font-family: Catamaran;
  font-size: 18px;
  justify-items:center;

}
.logo{
  justify-self:center;
  align-self: center;
  font-family: Catamaran;
  font-size:25px;
  padding: 20px 20px 20px 20px;
}
.main{
  background-color: #e1e8f0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr 1fr;


}
.intro{
  background-image: url("../images/bus.jpeg");
  background-position: center;

  background-size: cover;
  color: #ffd;
  text-shadow: 2px 2px 8px #111;
  text-align: center;


}
.intro h2{
font-size: 34px;
}
.intro p{
  line-height: 22px;
  font-size: 23px;
}
.signup-home{
  text-align: center;
  background-color:  #912C30;
  border-radius: 8px;
  margin:0 auto;
  width:90%;




}
.signup-button{
  background: #fb7064;
  background: linear-gradient(#fb7064, #e74438);
  border-radius:9px;
  box-shadow: 0 3px #ab140a;
  padding: 9px 20px;
  color: #ffffff;
  display: inline-block;
  font:normal normal 21px/1 "Overlock", cursive;
  text-align: center;
  text-shadow:1px 1px #ab140a;
  }
.signup-button:hover {
	background-color:#5cbf2a;
}
.signup-button:active {
	position:relative;
	top:1px;
}
.signup-home p{
  color: #ffd;
  font-size: 18px;
  margin-bottom: 5px;
}
.margin{
  margin:5px;
}
.margin2{
  margin:5px;
}
.login-home{
  background-color: #d3866e;
  color:#ffd;
  border-radius: 8px;
  margin:0 auto;
  width:90%;
  text-align: center;

}
.login-home p{
  color: #ffd;
  font-size: 18px;
  margin-bottom: 5px;
}
.login-button{
  background: #fb7064;
  background: linear-gradient(#fb7064, #e74438);
  border-radius:9px;
  box-shadow: 0 3px #ab140a;
  padding: 9px 20px;
  color: #ffffff;
  display: inline-block;
  font:normal normal 21px/1 "Overlock", cursive;
  text-align: center;
  text-shadow:1px 1px #ab140a;
  }
.footer{
  background-color: #57585C;
  display: grid;
  grid-template-columns: 1fr 1fr;

}
.footer-menu{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
}
.footer-menu a{
  color:#ffd;
}
.icons-home{
  display: grid;
  grid-template-columns: 100px;
  grid-template-rows: 70px 70px;

}
.twitter-icon{
  align-self: center;
  justify-self:center;
}
.test1, .test2{
  display:none;
}
.intro p:nth-child(odd){
  display: none;
}
@media only screen and (min-width:500px) {

.wrapper{
  grid-template-rows: 70px 10fr 3fr;
}
.header{
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.menu{
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-row: 10px;
  align-items: center;}
  .logo{
    border-right: 2px solid #57585C;
  }

.main{
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:"banner banner banner banner signup signup"
                       "banner banner banner banner signup signup"
                       "banner banner banner banner login login"
                       "test1 test1 test2 test2  login login";
background-color: #bea768;

}
.intro{

   background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('bus.jpeg') no-repeat center cover fixed;
   background-position: center;
  grid-area: banner;
  border-radius: 10px;
  display: block

}
.intro h2{
  font-size: 60px;
}
.intro p{
  font-size:40px;
  line-height: 50px;
}
.signup-home{
  grid-area:signup;
  align-self: center;
  justify-self:center;
  height: 80%;
}
.signup-home p{
  margin-top: 30px;
  font-size: 25px;
}
.login-home{
  grid-area:login;
  align-self: center;
  justify-self:center;
  height: 80%;
}


.login-home p{
  margin-top: 30px;
  font-size: 25px;
}
.footer{
  background-color: #57585C;
}
.test1, .test2{
  display:block;
}
.test1, .test2{
  grid-area:test1;
  font-size: 18px;
  text-align: left;
  color:#ffd;

}
.test1 , .test2 p{
  margin-top: 5px;

}
.test2{
  grid-area:test2;

}
}
