*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
main{
  width:80%;
  margin:auto;
}
.main{
  margin-top: 100px;
  background: #B3B252;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 1fr;
  color: #ffc;

}
/* used a css grid with  2 column and 5 rows to make the card */
.trip{
  background: #9068be;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "code code"
                       "origin departure"
                       "destination arrival"
                       "seats seats"
                       "agency book-button";
text-align: center;
box-shadow:2px 2px 15px #9068be;
border-radius: 10px;


}
/* take the area with code as its name in the grid */
.trip-code{
  grid-area: code;
  padding-bottom: 50px;

}
/* take the area with origin as its name in the grid */
.origin{
  grid-area:origin

}
/* take the area with destination as its name in the grid */
.destination{
  grid-area: destination;

}
/* take the area with departure as its name in the grid */
.time-dep{
  grid-area:departure;
}
/* take the area with arrival as its name in the grid */
.time-arr{
  grid-area:arrival
}
/* take the area with seats as its name in the grid */
.seats{
  grid-area: seats;
}
/* take the area with agency as its name in the grid */
.agency{
  grid-area:agency;
  justify-self:center;
}
/* take the area with book-button as its name in the grid */
.trip a{
  grid-area:book-button;
}
.title{
  font-weight: 600;
  font-size: 20px;
}
.info{
  font-weight: bold;
  font-family: Catamaran;
  font-size: 25px;
}
.book-button{

    background:#fb7064;
    background: linear-gradient(#fb7064, #e74438);
    border-radius:9px;
    box-shadow: 0 3px #ab140a;
    padding: 9px 20px;
    color: #ffffff;
    display: inline-block;
    font:normal normal 21px/1 "Overlock", cursive;
    text-align: center;
    text-shadow:1px 1px #ab140a;
    align-self: center;
    justify-self:center;
}
.back{
  justify-self:left;
  margin-left: 10px;
  box-shadow:1px 2px 5px #113;
}
/* computer and tablet design */
@media only screen and (max-width:370px){
  main{
    width:100%;
    margin:auto;
  }

}
