*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* the css grid for the whole page which contain 1 column and 3 rows(middle one is bigger) for mobile users.
the grid contains a header section,the main section and the footer section where the main section(or login section)
is bigger */
.wrapper{
  background: #9068be;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  height: 130vh;
  grid-template-areas:"header"
                      "main"
                      "footer";
}
.header{
  background: #9068be;
  color:#fff;
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr;
  grid-template-areas: "logo"
                       "menu";
}
.header a{
  color:#ffd;
}
/* the menu in the header also contain its own css grid which contain links for easy access,the grid has one row and 4 columns
are identical and the links are centered arround the area as shown below */
.menu{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 10px;
  font-family: Catamaran;
  font-size: 18px;
  justify-items:center;

}
.logo{
  justify-self:center;
  align-self: center;
  font-family: Catamaran;
  font-size:25px;
  padding: 20px 20px 20px 20px;
}
/* login section has two design for mobile user and (tablet and computer users).this one below is for mobile user which has one column
that fills the whole screen */
section{
  display: grid;
  grid-template-columns: 1fr;
  /* background-color:  #e1e8f0; */
  height: 100vh;
  font-family: Catamaran;



}
.login-section{
  padding: 150px 20px;
}
.login-section h1{
  color:rgba(235, 217, 231, 0.952);
  margin:0;
  padding:0 0 20px;
  text-align:center;
  font-size: 28px;
}

.login-section p{
  color:#DAC7F0;
  margin: 0;
  padding:0;
  font-weight: bold;
  font-size: 21px;

}
/* the css below contains design for the form which create better input field and information which is useful for the user */
.login-section input{


  margin-bottom: 20px;
}
.login-section input[type="email"], input[type="password"]{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 30px;
  width:320px;
  color:#DAC7F0;
  font-size: 18px;
}
.login-section input[type="submit"]{
  border: none;
  outline: none;
  height:40px;
  width:70px;
  border-radius: 7px;
  margin: 0 0 0 100px ;
}
.login-section input[type="submit"]:hover{
  cursor: pointer;
  background-color: green;
}
.login-section a:hover{
  text-decoration: underline;
  color: green;

}
.login-section a{
  color:rgba(235, 217, 231, 0.952);
}

.footer{
  background-color: #57585C;
  display: grid;
  grid-template-columns: 1fr 1fr;

}
.footer-menu{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}
.footer-menu a{
  color:#ffd;
}
.icons-home{
  display: grid;
  grid-template-columns: 100px;
  grid-template-rows: 70px 70px;

}
.twitter-icon{
  align-self: center;
  justify-self:center;
}
/* computer and tablet properties which are different from the mobile ones */
@media only screen and (min-width:500px) {
/* here the grid change as the body becomes much bigger than the footer and header,there is only one column here too */
.wrapper{
  grid-template-rows: 70px 10fr 3fr;
}
/*grid for the header section has two element the logo and menu*/
.header{ 
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.menu{
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-row: 10px;
  align-items: center;}
  .logo{
    border-right: 2px solid #57585C;
  }
  section{
    background: #9068be;
  }
  .login-section{
    width:380px;
    height: 340px;
    background: rgba(0,0,0,0.5);
    padding: 70px 30px;
    margin: 130px auto;


  }
  .login-section p{
    color: white;
  }

.login-section input[type="text"], input[type="password"]{
  color: white;
}


.footer{
  background-color: #57585C;
}

}
