*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


.wrapper{
  width: 100%;
  display: grid;
  grid-template-columns: : 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  height: 130vh;
  grid-template-areas:"header"
                      "main"
                      "footer";
}
.header{
  background: #9068be;
  color:#fff;
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr;
  grid-template-areas: "logo"
                       "menu";
}
.header a{
  color:#ffd;
}
.menu{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 10px;
  font-family: Catamaran;
  font-size: 18px;
  justify-items:center;

}
.logo{
  justify-self:center;
  align-self: center;
  font-family: Catamaran;
  font-size:25px;
  padding: 20px 20px 20px 20px;
}
section{
  display: grid;
  grid-template-columns: 1fr;
  background-color:  #e1e8f0;
  height: 100vh;
  font-family: Catamaran;



}
.login-section{
  padding: 150px 20px;
}
.login-section h1{
  margin:0;
  padding:0 0 20px;
  text-align:center;
  font-size: 25px;
}

.login-section p{
  margin: 0;
  padding:0;
  font-weight: bold;
  font-size: 18px;

}
.login-section input{


  margin-bottom: 20px;
}
.login-section input[type="text"], input[type="password"]{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 30px;
  width:320px;
  color: #222;
  font-size: 18px;
}
.login-section input[type="submit"]{
  border: none;
  outline: none;
  height:40px;
  width:70px;
  border-radius: 7px;
  margin: 0 0 0 100px ;
}
.login-section input[type="submit"]:hover{
  cursor: pointer;
  background-color: green;
}
.login-section a:hover{
  text-decoration: underline;
  color: green;

}

.footer{
  background-color: #57585C;
  display: grid;
  grid-template-columns: 1fr 1fr;

}
.footer-menu{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}
.footer-menu a{
  color:#ffd;
}
.icons-home{
  display: grid;
  grid-template-columns: 100px;
  grid-template-rows: 70px 70px;

}
.twitter-icon{
  align-self: center;
  justify-self:center;
}

@media only screen and (min-width:500px) {

.wrapper{
  grid-template-rows: 70px 10fr 3fr;
}
.header{
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.menu{
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-row: 10px;
  align-items: center;}
  .logo{
    border-right: 2px solid #57585C;
  }
  section{
    background: #e62739;
  }
  .login-section{
    width:380px;
    height: 340px;
    background: rgba(0,0,0,0.5);
    padding: 70px 30px;
    margin: 130px auto;


  }
  .login-section p{
    color: white;
  }

.login-section input[type="text"], input[type="password"]{
  color: white;
}


.footer{
  background-color: #57585C;
}

}
