
/*home page css properties*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}


body{
  background: #f3f3f3;
}
header{
  background: #ffffff;
  width:100%;
  height: 120px;

}


header .brand-logo {
  font-family: Catamaran;
  font-size: 25px;
  color: #222;
  font-weight: bold;
  display:block;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
}
header nav ul{
display: flex;
justify-content: space-around;

}
header nav ul li{
list-style: none;
display: inline;
}
header nav ul li a{
  font-family: Catamaran;
  font-size: 18px;
  color:#222;}
.intro{
  width: 100%;
  height:calc(100vh - 120px);
  background-image: url("../images/bus.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.intro h2{
  font-weight: bold;
  color: #F0E130;
  font-size: 60px;
  font-family: Catamaran;
  text-align: center;
  text-shadow: 2px 2px 8px #111;
  line-height: 60px;
}
.intro p {
  font-weight: bold;
  line-height: 32px;
  color: #F0E130;
  font-size: 25px;
  font-family:  Garamond;
  text-align: center;
  text-shadow: 2px 2px 8px #111;
}
.signup-home{
  height:50vh;
  width: 95%;
  margin: 0 auto;
  background: #fff;
  background:#E8E2DF;
  border-radius: 5px;

}
.signup-home p{
  font-family: Garamond;
  font-size: 40px;
  color: #222;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
}
.button-home{
  background-color:#B36F48;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	color:#ffffff;
  cursor: pointer;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
  text-align: center;
}
.signup-home div{
  display: flex;
  justify-content: center;
  margin:20px 0;
}
footer{

  width:100%;
  padding:40px 40px;

  background: #222;
  display: flex;
  justify-content: space-between;
}
footer ul{
  width:fit-content;

  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
footer ul li{
  list-style: none;
  display: inline;
}
footer ul li a{
  font-family: Catamaran;
  font-size: 18px;
  color:white
}
.footer-icons{
  width: 60px;
  float:left;

}
.footer-icons img{
  width:100%;
  margin-bottom: 10px;
}
/*login page css properties*/
section{
  background-image: url("../images/homepage.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height:60vh;
  background-position: center;
  font-family: Catamaran;


}
.login-section{
  width:100%;
  padding: 70px 30px;

}
.login-section h1{
  margin:0;
  padding:0 0 20px;
  text-align:center;
  font-size: 25px;
}

.Login-section p{
  margin: 0;
  padding:0;
  font-weight: bold;

}
.login-section input{


  margin-bottom: 20px;
}
.login-section input[type="text"], input[type="password"]{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 30px;
  width:320px;
  color: #222;
  font-size: 18px;
}
.login-section input[type="submit"]{
  border: none;
  outline: none;
  height:40px;
  width:70px;
  border-radius: 7px;
  margin: 0 0 0 100px ;
}
.login-section input[type="submit"]:hover{
  cursor: pointer;
  background-color: green;
}
.login-section a:hover{
  text-decoration: underline;
  color: green;

}
@media only screen and (min-width:700px){

  .login-section{
    width:380px;
    height: 340px;
    background: rgba(0,0,0,0.5);
    padding: 70px 30px;
    margin: 0 auto;


  }
  .login-section p{
    color: white;
  }

.login-section input[type="text"], input[type="password"]{
  color: white;
}

}
/*signup page css*/

.signup-sect{
  background-image: url("../images/homepage.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height:132vh;
  background-position: center;
  font-family: Catamaran;


}
.signup-section{
  width:100%;
  padding: 70px 30px;

}
.signup-section h1{
  margin:0;
  padding:0 0 20px;
  text-align:center;
  font-size: 25px;
}

.signup-section p{
  margin: 0;
  padding:0;
  font-weight: bold;

}
.signup-section input{


  margin-bottom: 20px;
}
.signup-section input[type="text"], input[type="password"], input[type="email"], input[type="number"]{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 30px;
  width:320px;
  color: #222;
  font-size: 18px;
}
.signup-section input[type="submit"]{
  border: none;
  outline: none;
  height:40px;
  width:70px;
  border-radius: 7px;
  margin: 0 0 0 100px ;
}
.signup-section input[type="submit"]:hover{
  cursor: pointer;
  background-color: green;
}
.signup-section a:hover{
  text-decoration: underline;
  color: green;

}
@media only screen and (min-width:700px){

  .signup-section{
    width:380px;
    height: 740px;
    background: rgba(0,0,0,0.5);
    padding: 70px 30px;
    margin: 0 auto;


  }
  .signup-section p{
    color: white;
  }

.signup-section input[type="text"], input[type="password"]{
  color: white;
}

}
/*trips page css*/
.trips-table{
  font-family: Catamaran;
  font-size: 20px;
  background-image: url("../images/desertroad1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  overflow-x:auto;


}
#title-table{
  border-radius: 0;
}

#title-table:hover{
  cursor: default;
  color: #F0E130;
  background-color:#A8A782;
}
.trips-table table{
  margin: 0 auto;
  width: 80%;
  text-align: center;
}
.trips-table tr td:last-of-type{
  border-radius: 10px;
  border: 0;
}
.trips-table tr td:hover{
  background:  #F0E130;
  color: black;
}
td[colspan="3"]{
  background:#A8A782;
}
.trips-table table, th, td{
  border:1px solid #111;
  border-collapse: collapse;
  opacity:0.90;

}
.trips-table th td{
  padding: 10px;
  text-align: center;

}
.trips-table th{
  background-color: #a70000;
  color:white;
}
.trips-table tr:nth-child(even){
  background-color : #E1D5F5;

}
.trips-table tr:nth-child(odd){
  background-color: #332D3D;
  color:#F0E130;
}
